body {
  background: black;
  background-size: cover;
}

.main-header {
  margin-bottom: 20px;
}

.main-header, .main-content, .main-footer {
  width: 100%;
}


.banner {
  background-image: url('http://i.imgur.com/3lyk3mO.jpg');
  background-position:  center center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.social-container, .band-container {
  margin-top: 50px;
  min-height: 550px;
}

.band-container {

  .image-container, .band-member-copy {
    padding: 10px 10px;
  }

  .image-container {
    float: left;
  }

  .band-member-copy {
    border: 2px solid white;
  }

  img {
    max-height: 350px;
    max-width: 350px;
  }
}

#footer {
  height: 100px;
  background-color: black;
  width: 100%;

  .icon-container, .info-container {
    margin-top: 20px;
    background-color: white;
  }

  .icon-container {
    padding-top: 14px;
    text-align: left;
  }

  .info-container {
    text-align: right;
  }

  i {
    color: black;
    display: inline-block;
    margin-right: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.main-content-body {
  #bound-video, #run-hide-video, #fly-video, #antipathy-video {
    width: 100%;
    max-height: 500px;
  }
}

.main-content {
  padding-top: 50px;
  min-height: 750px;
  background-color: gray;

  iframe {
    height: 818px;
    width: 340px;
    padding: 10px 0;
    margin: 0 -2px;
  }
}

.navbar-brand-small {
    display: none;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #d5d5d5;
}

.album-container {
}

.album-info {
  padding: 10px 10px;
  
  .album-image {
    width: 100%;
  }

  .album-info-text {
    display: none;
  }
}

@media (min-width: 753px) {
  
  .main-content {
    iframe {
      width: 350px;
      margin: 0 15px;
    }

    #lofi-image, #self-titled-image {
      height: 803px;
    }
  }
}

@media (max-width: 914px) {
    .navbar-brand-small {
        display: block;
    }

    .navbar-brand {
        display: none;
    }

}

@media (max-width: 950px) {
  .banner {
    background-image: url('http://i.imgur.com/fsSJEJP.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: contain;
  }
}