body {
  background: black;
  background-size: cover;
}

#header {
  margin-bottom: 150px;
  background-color: white;

  a:hover {
    color: orange;
  }
}

nav.navbar{
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.main-header {
  
  .navbar {
    background-image: url('../TANM-sky.jpg'); 
    //background-image: linear-gradient(red, black); /* W3C */
    background-size: cover; 
    background-repeat: repeat-y; 
    border: none;
  }

  .navbar-header {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .navbar-nav {
    width: 100%;
    margin-top: 50px;
    display: flex;

    .nav-menu-item {
      float: left;
    }
  }

  .navbar-brand {
    padding: 0 15px;
  }

  .navbar-brand img {
    height: 150px;
    width: 100%;
  }

  nav li a {
    padding: 10px 10px;
    color: red !important;
    font-weight: bold; 
  }

  ul {
    margin: 0 auto;
  }

  ul li {
    //width: 90px;
    flex-grow: 1;
  }
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #cc5350;
  color:#fff;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  text-align:center;
  line-height:160px;
}

.main-header.shrink {
    height: 50px;
    line-height:80px;

    .navbar-brand img {
      margin-top: -30px;
      width: 500px;
      float: left;
    }

    .navbar-nav {
      margin-top: -10px;
    }
}

.main-header h1 {
  font-size:30px;
  font-weight:normal;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.main-header.shrink h1 {
  font-size:24px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.content {
  height:2000px;
  /*just to get the page to scroll*/
}

.main-header, .main-content, .main-footer {
  width: 100%;
}

//about page
.about-photo {
  width: 100%;
  text-align: center;

  .about-page-photo {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 1em white;
  }
}

.about-copy {
  color: #fff;
  text-align: center;

  p {
    font-size: 20px;
  }
}

#disqus_thread {
  margin-top: 45px;
  box-shadow: 0 0 1em white;
}


.banner {
  background-image: url('http://i.imgur.com/nExxSfY.jpg');
  background-position:  center center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner-name {
  max-width: 500px;
  z-index: 1001;
  position: absolute;
  top: 25%;
  left: 15%;
}

.social-container {
  margin-top: 50px;
  min-height: 550px;
}

.band-container {
  .image-container {
    padding-bottom: 10px;
  }

  .band-image {
    width: 100%;
    box-shadow: 0 0 1em white;
  }
}

.main-content-body {
  #bound-video, #run-hide-video, #fly-video, #antipathy-video {
    width: 100%;
    max-height: 500px;
  }
}

.main-content {
  //padding-top: 50px;
  min-height: 750px;
  margin-bottom: 40px;

  .aimless-video {
    margin-bottom: 10px;
  }

  .band-logo, .band-photo {
    width: 100%;
  }
}

.album-info {
  padding: 10px 10px;
  perspective: 1000px;
  
  .album-image {
    width: 100%;
  }

  .album-info-text {
    display: none;
  }

  .album-flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
  }

  .front, .back {
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 1em white;
  }

  .front {
    span {
      font-size: 20px;
      color: white;
      text-align: center;
    }
  }

  .back {
    top: 0;
    left: 0;
    color: #fff;
  }

  .back p {
    margin-top: 50px;
  }

  .back img {
    max-height: 400px;
    max-width: 400px;
  }

  &:hover {
    cursor: pointer;
  }
}

.album-container {
  padding: 10px 10px;

  iframe {
    box-shadow: 0 0 1em white;
  }
}

.band-member {
  h4 {
    text-align: center;
    font-size: 18px;
    color: orange;
  }

  p, small {
    color: white;
  }
}

/* FLYERS PAGE */

.flyer {
  height: 500px;
  margin-bottom: 15px;

  h2 {
    text-align: center;
    color: #fff;
  } 
}

.flyer img {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1em white;
}

/* VIDEOS PAGE */
.aimless-video {
  box-shadow: 0 0 1em white;
}

@media (min-width: 753px) {
  
  .main-content {
    iframe {
      width: 350px;
      margin: 0 15px;
    }
  }
}

@media (max-width: 767px) {
  .album-info {
    height: 350px;
    overflow: scroll;
  }

  .navbar-nav {
    margin-top: 0 !important;
  }

  .navbar-toggle {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
    
    .navbar-header {
      height: 50px;
    }

    .navbar-brand img{
      max-height: 100px;
    }

    .nav-title {
      padding: 0 0;
    }

    .navbar-nav {
      float: left;

      li {
        font-size: 10px;
      }
    }

}

@media (max-width: 950px) {
  .banner {
    background-image: url('http://i.imgur.com/fsSJEJP.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: contain;
  }

  .banner-name {
    display: none;
  }

  .main-header {
    ul li {
      padding: 5px 0;
    }

    .navbar-brand img {
      height: 100px;
    }

    .navbar-default .navbar-nav>.open>a {
      background-color: transparent;
    }

    .navbar-default .navbar-nav>.open>ul {
      background-color: white;
    }
  }
}