body {
  background: black;
  background-size: cover; }

.main-header {
  margin-bottom: 20px; }

.main-header, .main-content, .main-footer {
  width: 100%; }

.about-photo {
  width: 100%; }
  .about-photo .about-page-photo {
    max-width: 600px;
    margin: 0 auto; }

.about-copy {
  color: #fff;
  text-align: center; }
  .about-copy p {
    font-size: 25px; }

.banner {
  background-image: url("http://i.imgur.com/3lyk3mO.jpg");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.social-container {
  margin-top: 50px;
  min-height: 550px; }

.band-container .image-container {
  padding-bottom: 10px; }

.band-container .band-image {
  width: 100%; }

#footer {
  background-color: white;
  width: 100%;
  position: absolute;
  padding-bottom: 15px; }
  #footer .icon-container, #footer .info-container {
    text-align: center;
    margin-top: 20px;
    background-color: white; }
  #footer i {
    color: black;
    display: inline-block;
    margin-right: 20px; }
    #footer i:hover {
      cursor: pointer; }
  #footer p {
    font-size: 20px; }

.main-content-body #bound-video, .main-content-body #run-hide-video, .main-content-body #fly-video, .main-content-body #antipathy-video {
  width: 100%;
  max-height: 500px; }

.main-content {
  padding-top: 50px;
  min-height: 750px;
  margin-bottom: 40px; }
  .main-content .aimless-video {
    margin-bottom: 10px; }
  .main-content .band-logo, .main-content .band-photo {
    width: 100%; }
  .main-content .about-photo {
    text-align: center; }

.navbar-brand-small {
  display: none;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #d5d5d5; }

.album-info {
  padding: 10px 10px;
  perspective: 1000px;
  /* front pane, placed above back */
  /* back, initially hidden pane */ }
  .album-info .album-image {
    width: 100%; }
  .album-info .album-info-text {
    display: none; }
  .album-info:hover .album-flipper, .album-info .hover .album-flipper {
    transform: rotateY(180deg); }
  .album-info .album-flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .album-info .front, .album-info .back {
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  .album-info .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg); }
  .album-info .back {
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    color: #fff; }
  .album-info .back p {
    margin-top: 50px; }
  .album-info .back img {
    height: 300px;
    width: 300px; }

.album-container {
  padding: 10px 10px; }

.band-member h4 {
  text-align: center;
  font-size: 20px;
  color: purple; }

.band-member p {
  color: white; }

/* FLYERS PAGE */
.flyer {
  height: 500px;
  margin-bottom: 10px; }

.flyer img {
  height: 100%;
  width: 100%; }

@media (min-width: 753px) {
  .main-content iframe {
    width: 350px;
    margin: 0 15px; } }

@media (max-width: 767px) {
  .album-info {
    height: 350px;
    overflow: scroll; } }

@media (max-width: 914px) {
  .navbar-brand-small {
    display: block; }
  .navbar-brand {
    display: none; } }

@media (max-width: 950px) {
  .banner {
    background-image: url("http://i.imgur.com/fsSJEJP.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: contain; } }
