body {
  background: black;
  background-size: cover; }

#header {
  margin-bottom: 150px;
  background-color: white; }

.main-header {
  margin-bottom: 20px; }

nav {
  background-image: url("../TANM-Sky.jpg"); }
  nav .navbar-header {
    padding: 10px; }
    nav .navbar-header button {
      background: black;
      border: 1px solid white;
      float: left; }
    nav .navbar-header .icon-bar {
      background: white; }
    nav .navbar-header .navbar-brand img {
      width: 100%;
      margin-top: -50px;
      margin-left: 10px !important;
      height: 200px; }
  nav .main-nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 40px;
    background: transparent; }
  nav .nav-menu-item a {
    color: white; }
    nav .nav-menu-item a:hover {
      background: transparent; }
    nav .nav-menu-item a:focus {
      background: transparent !important; }
  nav .dropdown-menu {
    background: black; }
  nav .dropdown-menu > li > a:hover {
    background: red;
    color: white; }

@media (max-width: 736px) {
  .navbar-brand img {
    height: 100px !important;
    margin: -85px auto 0 0 !important; }
  .main-nav {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .dropdown-menu {
    text-align: center; }
    .dropdown-menu li > a {
      color: red; } }

.content {
  height: 2000px;
  /*just to get the page to scroll*/ }

.main-header, .main-content, .main-footer {
  width: 100%; }

.about-photo {
  width: 100%;
  text-align: center; }
  .about-photo .about-page-photo {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 1em white; }
  .about-photo .about-page-photo-1 {
    max-width: 400px;
    margin: 0 auto; }
    .about-photo .about-page-photo-1 img {
      box-shadow: 0 0 1em white; }

.about-copy {
  color: #fff;
  text-align: center; }
  .about-copy p {
    font-size: 20px; }

#disqus_thread {
  margin-top: 45px;
  box-shadow: 0 0 1em white; }

.banner {
  background-image: url("http://i.imgur.com/nExxSfY.jpg");
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.banner-name {
  max-width: 500px;
  z-index: 1001;
  position: absolute;
  top: 25%;
  left: 15%; }

.social-container {
  margin-top: 50px;
  min-height: 550px; }

.band-container .image-container {
  padding-bottom: 10px; }

.band-container .band-image {
  width: 100%;
  box-shadow: 0 0 1em white; }

.main-content-body #bound-video, .main-content-body #run-hide-video, .main-content-body #fly-video, .main-content-body #antipathy-video {
  width: 100%;
  max-height: 500px; }

.main-content {
  min-height: 750px;
  margin-bottom: 40px; }
  .main-content .aimless-video {
    margin-bottom: 10px; }
  .main-content .band-logo, .main-content .band-photo {
    width: 100%; }

.album-info {
  padding: 10px 10px;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .album-info .album-image {
    width: 100%; }
  .album-info .album-info-text {
    display: none; }
  .album-info .album-flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    text-align: center; }
  .album-info .front, .album-info .back {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 1em white; }
  .album-info .front span {
    font-size: 20px;
    color: white;
    text-align: center; }
  .album-info .back {
    top: 0;
    left: 0;
    color: #fff; }
  .album-info .back p {
    margin-top: 50px; }
  .album-info .back img {
    max-height: 400px;
    max-width: 400px; }
  .album-info:hover {
    cursor: pointer; }

.album-container {
  padding: 10px 10px; }
  .album-container iframe {
    box-shadow: 0 0 1em white; }

.band-member h4 {
  text-align: center;
  font-size: 18px;
  color: orange; }

.band-member p, .band-member small {
  color: white; }

#myatt {
  padding-bottom: 17px; }

/* FLYERS PAGE */
.flyer {
  height: 500px;
  margin-bottom: 15px; }
  .flyer h2 {
    text-align: center;
    color: #fff; }

.flyer img {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1em white; }

/* VIDEOS PAGE */
.aimless-video {
  box-shadow: 0 0 1em white; }

@media (min-width: 753px) {
  .main-content iframe {
    width: 350px;
    margin: 0 15px; } }

@media (max-width: 767px) {
  .album-info {
    height: 350px;
    overflow: scroll; } }

@media (max-width: 950px) {
  .banner {
    background-image: url("http://i.imgur.com/fsSJEJP.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: contain; }
  .banner-name {
    display: none; } }
